<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9pp7GJ3EFnca4Tk0YGPGOpfMK2ucvlOs</string>
	<key>GCM_SENDER_ID</key>
	<string>723361840354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sh.boaterslife</string>
	<key>PROJECT_ID</key>
	<string>boater-s-life</string>
	<key>STORAGE_BUCKET</key>
	<string>boater-s-life.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723361840354:ios:c05df24d3a14931e29b2bb</string>
</dict>
</plist>